<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <div id="project-information-container">
          <h2>API Project: Timestamp Microservice</h2>
          <h3>Programmer: Brendan Musick</h3>
        </div>
        
        <div id="project-example-container">
          Type in the following after the url name to get a JSON returned date printout,
            <code>GET [url]/api/timestamp/:date_string?</code>
            with the date string in one of two formats:<br>
            <span>1) <a href="api/timestamp/2015-12-25">2015-12-25</a>  </span><br>
            <span>2) <a href="api/timestamp/1479663089000">1479663089000</a> </span><br>
            <p>If the date_string is left empty, it will return the JSON form of todays date.</p>
          
        </div>
      </div>
      <div class="footer">
        <p>
          by <a href="https://miniature-hamster.glitch.me">Glitch App</a> | <a href="https://github.com/B-Musick/timestamp-microservice">Github Repository</a>
        </p>
      </div>
   </body>

</html>
